<div class="text-center p-5">
  <h1>TIME TO PICK A CAR!</h1>
</div>
<div class="conta d-flex align-items-start">
  <div class="d-flex flex-colum align-items-center justify-content-center" style="width: 100%">
  <div class="cards ml-1">
  <% @cars.each do |car| %>
    <div class="card">
      <%= link_to car_path(car) do %>
      <div class="card-img-top rounded pho" width="100%" style="background-image: url('<%= image_path car.photo %>')"></div>
      <% end %>
    <div class="card-body" >
    <h5 class="m-0"><%= car.brand %> - <%= car.car_model %></h5>
    <% suma = 0 %>
    <% media = 0 %>
    <% car.reviews.each { |rev| suma += rev.rating } %>
    <% car.reviews.length.zero? ?  media = 0 : media = (suma / car.reviews.length).round %>
    <% media.times do %>
     <i class="fas fa-star" style="color: #6FCFE1;"></i>
     <% end %>
     <% (5 - media).times do %>
     <i class="fas fa-star" style="color: rgb(220,220,220);"></i>
     <% end %>
     <%= car.reviews.length %> reviews
      <img src='<%= car.user.photo %>' class="avatar-bordered card-avatar">
    </div>
    <div class="box p-2">
    <h4><%= car.price_per_hour%>€</h4>
    <span>PER HOUR</span>
    </div>
    </div>
  <% end %>
  </div>
</div>
<div
  id="map"
  class="mapbox indexmap"
  style="width: 50%;
  height: 100vh; margin-top: 10px; padding: 0 15px; margin-left: 5px; position: sticky; top: 3%;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>

